<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>

</head>
<body style="background-color:powderblue;">
  <h1 style="color:blue; text-align:center;font-size:200%">Welcome to Library Management System</h1>
   <nav style="text-align: center; margin-top: 20px;">
    <a href="/books" style="margin: 0 15px; font-size: 120%; color: darkblue; text-decoration: none;">Books</a>
    <a href="/members" style="margin: 0 15px; font-size: 120%; color: darkblue; text-decoration: none;">Members</a>
    </nav>
</body>
<footer style="text-align: center; margin-top: 50px; font-size: 90%; color: gray;">
    &copy; 2025 Library Management System. All rights reserved.
</footer>
</html>